html, body {
  height: 100%;
  width: 100%;
}

@font-face {
    font-family: "Relic";
    src: url("Relic-Glyph-Serif.ttf");
}

#relic {
    font-family: "Relic";
    font-size: 48px;
}

* {
  text-align: center;
}